feature/ai-chat-api
PORT=4000
NODE_ENV=development
FLASK_API_URL=http://localhost:5000

# Server
PORT=3000

# MongoDB
MONGO_URI=

# JWT
JWT_SECRET=to-be-changed-in-production

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=
EMAIL_PASS=

# OTP Settings
OTP_LENGTH=6
OTP_EXPIRY_MINUTES=10
OTP_LIMIT=5
OTP_LOCKOUT_TIME=600000

# ---- Backup Codes ----
BACKUP_CODE_COUNT=5
BACKUP_CODE_LENGTH=8
BACKUP_CODE_SALT_ROUNDS=10

# Dev
EMAIL_DISABLED=
feature/ai-chat-api

# ML_Service
ML_SERVICE_URL=

